@model Banner
@{
    Layout = "~/Areas/admin/Views/Shared/_Layout.cshtml";
}

<form asp-area="admin" asp-controller="Banner" asp-action="create" method="post" enctype="multipart/form-data">
    <div class="form-group">
        <label asp-for="@Model.ImageFile">Blog image</label>
        <input class="form-control" asp-for="@Model.ImageFile">
        <label asp-for="@Model.Title">Blog title</label>
        <input class="form-control" asp-for="@Model.Title">
        <label asp-for="@Model.Name">Blog title</label>
        <input class="form-control" asp-for="@Model.Name">
        <label asp-for="@Model.Description">Blog title</label>
        <input class="form-control" asp-for="@Model.Description">
    </div>

    <button type="submit" class="btn btn-primary">Create</button>
</form>


