@model Marazzo.ViewModels.VmPrdAll
@{
    Layout = "~/Areas/admin/Views/Shared/_Layout.cshtml";
}
<form asp-area="admin" asp-controller="Product" asp-action="CreateSpecToProduct" method="post" enctype="multipart/form-data">
    <div class="form-group">


        <div class="itemContainer">
            <label asp-for="@Model.Images">Choose image</label>
            <input class="form-control" asp-for="@Model.Images" multiple>
        </div>
        @{ int i = 0;}
        @foreach (var item in ViewBag.specs)
        {
            <label>@item.SpecName</label>
            <input asp-for="@Model.SpecDetails[@i].Value" class="form-control">
            i++;
        }








    </div>
   <!-- <button type="button" class="btn btn-success" id="addNewItem">+</button> -->    
    <button  type="submit" class="btn btn-primary" data-index="@(i)">Create</button>
</form>


