@model Feature
@{
    ViewData["Title"] = "Update";
    Layout = "~/Areas/admin/Views/Shared/_Layout.cshtml";
}
<form asp-area="admin" asp-controller="Feature" asp-action="update" method="post" enctype="multipart/form-data">
    <div class="form-group">

        <label asp-for="@Model.Title">Feature title</label>
        <input class="form-control" asp-for="@Model.Title">
        <label asp-for="@Model.Icon">Feature icon</label>
        <input class="form-control" asp-for="@Model.Icon">
        <input hidden class="form-control" asp-for="@Model.Id">

    </div>

    <button type="submit" class="btn btn-primary">Update</button>
</form>

