@model List<Blog>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/admin/Views/Shared/_Layout.cshtml";
}
<a asp-area="admin" asp-controller="Blog" asp-action="create" class="btn btn-primary">Create</a>

<table class="table">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Image</th>
            <th scope="col">Title</th>
            <th scope="col">Content</th>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>

                <td>@item.Id</td>
                <td><img src="~/Uploads/@item.BannerImage" alt="Alternate Text" style="max-width:150px; max-height:150px" /></td>
                <td>@item.Title</td>
                <td>@(item.Content.Length>150? item.Content.Substring(0,150):item.Content)</td>
                <td><a asp-controller="Blog" asp-area="admin" asp-action="update" asp-route-id="@item.Id" type="button" class="btn btn-success">Update</a></td>
                <td><a asp-controller="Blog" asp-area="admin" asp-action="delete" asp-route-id="@item.Id" onclick="return confirm('Are you sure?')" type="button" class="btn btn-danger">Delete</a></td>
            </tr>

        }

    </tbody>
</table>


